.container {
  padding: 40px 0;
}

.title {
  margin-bottom: 80px;
  max-width: 860px;
}

.content {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.card-content {
  aspect-ratio: 4 / 3;
  margin: 0 0 10px;
  min-height: 100px;
  &__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    width: 100%;
    display: grid;
  }

  &__img {
    object-fit: cover;
    &__title {
      position: absolute;
      top: 15px;
      left: 15px;
      border-radius: 20px;
      padding: 5px 10px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1025px) {
  .content {
    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .card-content {
    aspect-ratio: 1/1;
  }
}

@media only screen and (min-width: 501px) {
  .container {
    padding: 80px 40px;
  }
  .card-content {
    &__wrapper {
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1024px) {
    .container {
      padding: 80px 0;
    }
  }
}
